
# ===================================
# IDE - IntelliJ IDEA
# ===================================
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

/.claudeignore


cc-rules/
claude-code-workflows/
claude-code-best-practices/
awesome-claude-code-output-styles-that-i-really-like/
hesreallyhim__awesome-claude-code.696a046d/